
/build
/src/androidTest/
/src/test/

/src/androidTest/java/com/opgaver/recordingplanner/
/src/main/res/mipmap-mdpi/
/src/main/res/mipmap-anydpi-v26/
/src/main/res/drawable-v24/
/src/main/res/mipmap-hdpi/
/src/main/res/mipmap-xxhdpi/
/src/main/res/mipmap-xhdpi/
/src/main/res/drawable-anydpi-v26/
/src/main/res/mipmap-xxxhdpi/